<?xml version="1.0"?>
<!--
/**
 * Created by Skynix Team.
 * Skynix Order Comment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Paypal\Controller\Express\AbstractExpress\PlaceOrder">
        <plugin name="control-placeorder-exception" type="Skynix\PaypalDuplicatedOrders\Plugin\PlaceOrderPlugin" sortOrder="1" />
    </type>

</config>